    @media (min-width: 1440px) and (max-width: 1745px) {
        .wrapper header.header .white {
            bottom: -110px;
        }
        .wrapper header.header .blue {
            bottom: -80px;
        }
        .wrapper header.header .another-text {
            margin-left: 100px;
        }
        .wrapper section.contact .white {
            bottom: 40px;
        }
        .wrapper section.contact .blue {
            bottom: 40px;
        }
    }
    
    @media (min-width: 1200px) and (max-width: 1439px) {
        .wrapper header.header {
            background-size: 100% auto;
            height: auto;
        }
        .wrapper header.header .header-text {
            padding-top: 45px;
        }
        .wrapper header.header .blue {
            bottom: -178px;
        }
        .wrapper header.header .white {
            bottom: -205px;
        }
        .wrapper header.header .header-text button {
            margin-bottom: 80px;
        }
        .wrapper section.development {
            padding-bottom: 205px;
        }
        .wrapper section.development .white {
            bottom: -83px;
        }
        .wrapper section.development .blue {
            bottom: -60px;
        }
        .wrapper section.development {
            height: 600px;
            overflow: hidden;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide h2 {
            margin-top: 75px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide h2::before {
            width: 265px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide {
            height: 281px;
        }
        .wrapper section.contact .blue {
            bottom: -20px;
        }
        .wrapper section.contact .white {
            bottom: -16px;
        }
        .wrapper section.contact {
            height: 590px;
            padding: 50px 0;
        }
        .wrapper footer.footer {
            margin-top: 50px;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1199px) {
        .wrapper header.header {
            height: auto;
        }
        .wrapper header.header .blue {
            height: 365px;
        }
        .wrapper header.header .white {
            bottom: 0;
            height: 275px;
        }
        .wrapper header.header .header-text {
            margin: 0 auto;
            padding-top: 20px;
        }
        .wrapper header.header .another-text {
            margin-top: 150px;
        }
        .wrapper header.header .header-text h1 {
            font-size: 40px;
            margin-bottom: 8px;
            padding-bottom: 10px;
        }
        .wrapper header.header .header-text p {
            line-height: 25px;
            margin-bottom: 20px;
        }
        .wrapper header.header .header-text button {
            margin-bottom: -15px;
        }
        .wrapper section.development {
            height: auto;
            overflow: hidden;
        }
        .wrapper section.development .white {
            bottom: -100px;
        }
        .wrapper section.development .blue {
            bottom: -80px;
        }
        .wrapper section.works .work-text {
            margin-left: 20px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide {
            padding: 15px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide h2 {
            font-size: 32px;
            margin-top: 35px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide h2::before {
            width: 240px;
        }
        .wrapper section.portfolia .portfolio-part {
            height: 225px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide p {
            line-height: 18px;
        }
        .wrapper section.contact {
            height: 600px;
            padding: 50px 0;
        }
        .wrapper section.contact .blue {
            bottom: -75px;
        }
        .wrapper section.contact .white {
            bottom: -70px;
        }
        .wrapper footer.footer {
            margin-top: 50px;
        }
        .wrapper footer.footer .footer-text .footer-text-single p a {
            font-size: 13px;
        }
        .wrapper footer.footer .footer-icon i {
            padding: 0 30px 0 0;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .wrapper header.header .header-text {
            width: 100%;
            padding-top: 20px;
        }
        .wrapper header.header .header-text h1 {
            font-size: 40px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            margin-top: 0;
        }
        .wrapper header.header .header-text p {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 15px;
        }
        .wrapper header.header .header-text p br {
            display: none;
        }
        .wrapper header.header {
            height: auto;
        }
        .wrapper header.header .blue {
            bottom: -285px;
        }
        .wrapper header.header .white {
            bottom: -305px;
        }
        .wrapper header.header .another-text h3 {
            font-size: 33px;
            padding-bottom: 3px;
        }
        .wrapper header.header .another-text p {
            line-height: 20px;
            margin-top: 4px;
        }
        .wrapper header.header .header-text button {
            margin-bottom: 62px;
            font-size: 16px;
            padding: 10px 35px;
        }
        .wrapper section.development {
            margin-top: 30px;
        }
        .wrapper section.development {
            height: auto;
            overflow: hidden;
        }
        .wrapper section.development .white {
            bottom: -100px;
        }
        .wrapper section.development .blue {
            bottom: -90px;
        }
        .wrapper section.works .work-text {
            margin-left: 0px;
        }
        .wrapper section.portfolia .portfolio-part {
            height: 260px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide {
            padding: 15px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide h2 {
            margin-top: 65px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide h2::before {
            width: 270px;
        }
        .wrapper section.contact {
            height: auto;
            overflow: hidden;
            padding: 50px 0;
        }
        .wrapper section.contact .contact-form {
            margin-left: 0;
        }
        .wrapper section.contact .contact-text {
            margin-top: 0px;
        }
        .wrapper section.contact .blue {
            bottom: -155px;
        }
        .wrapper section.contact .white {
            bottom: -135px;
        }
        .wrapper footer.footer {
            height: auto;
        }
        .wrapper footer.footer .footer-icon {}
    }
    
    @media (max-width: 767px){
		#features{
			top: -110px;
		}
		.wrapper header.header .header-text h1::before{
			left: 85px;
		}
		.wrapper header.header{
			background: url("img/backgrounddd.jpg");
		}
		.wrapper section.works .work-text-full{
			height: 330px;
			margin: 0px auto;
		}
		.col-md-9.col-sm-9.col-xs-13{
			top: -48px;
			left: -10px;
			float: left;
		}
		.another-text{
			position: absolute;
			left: 12px;
			top: 648px;
		}
		.navbar-nav{
			margin: 0px;
		}
		.col-xs-12{
			left: 366px;
		}
		.wrapper header.header ul.nav.navbar-nav{
			padding-bottom: 0px;
			background-color: #f7f4ef;
			border-radius: 30px;
		}
		.wrapper header.header ul.nav.navbar-nav li a{
			font-size: 22px;
		}
		.wrapper header.header .header-text {
            width: 100%;
            padding-top: 0px;
        }
        .wrapper header.header .header-text h1 {
            font-size: 56px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            margin-top: 0;
        }
        .wrapper header.header .header-text p {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 15px;
        }
        .wrapper header.header .header-text p br {
            display: none;
        }
		.wrapper header.header .logo h2 a{
			font-size: 40px;
		}
        .wrapper header.header {
            height: 800px;
			background-size: 1215px;
			background-position-x: center;
        }
        .wrapper header.header .blue {
            bottom: -285px;
        }
        .wrapper header.header .white {
            bottom: -325px;
        }
        .wrapper header.header .another-text h3 {
            font-size: 33px;
            padding-bottom: 3px;
			margin-top: 60px;
        }
        .wrapper header.header .another-text p {
            line-height: 20px;
            margin-top: 4px;
        }
        .wrapper header.header .header-text button {
            margin-bottom: 62px;
            font-size: 16px;
            padding: 10px 35px;
        }
        .wrapper section.development {
            padding-top: 30px;
            padding-bottom: 177px;
        }
        .wrapper section.development {
            height: auto;
            overflow: hidden;
        }
        .wrapper section.development .white {
            bottom: -103px;
        }
        .wrapper section.development .blue {
            bottom: -93px;
        }
        .wrapper section.works .work-text {
            margin-left: 0px;
        }
		.wrapper section.portfolia{
			margin-top: 0px;
		}
        .wrapper section.portfolia .portfolio-part {
            height: 260px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide {
            padding: 15px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide h2 {
            margin-top: 65px;
        }
        .wrapper section.portfolia .portfolio-part .overlay-slide h2::before {
            width: 270px;
        }
        .wrapper section.contact {
            height: auto;
            overflow: hidden;
            padding: 50px 0;
        }
        .wrapper section.contact .contact-form {
            margin-left: 0;
        }
        .wrapper section.contact .contact-text {
            margin-top: 0px;
        }
        .wrapper section.contact .blue {
            bottom: -170px;
        }
        .wrapper section.contact .white {
            bottom: -150px;
        }
        .wrapper footer.footer {
            height: auto;
        }
        .wrapper footer.footer .footer-icon {}
	}
